# Ignore modules pulled in via npm and package.json:
node_modules/

# Ignore log file!
npm_debug.log

# Ignore all Vi/Vim swapfiles
*.swp

# Ignore distribution directory. This is for the uglified CSS and JS.
app/dist

# Ignore the audio files - these are probably copyrighted!
audio/m4a/*.m4a
audio/ogg/*.ogg
audio/mp3/*.mp3
audio/wav/*.wav
