[submodule "certstuff"]
	path = certstuff
	url = https://github.com/Daplie/nodejs-self-signed-certificate-example.git
[submodule "organize/musicbrainz_discid"]
	path = organize/musicbrainz_discid
	url = https://github.com/bmc0/musicbrainz_discid.git
