/* generic buttons */
.btn {
  background: #1C2E6B;
  border: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 11px;
  color: #fff;
}
/* app theme */
body {
  height: 100%;
  padding-top: 68px;
}
/*
body::after {
  background: transparent url("https://images.unsplash.com/photo-1442323794357-25b2ec110967") repeat scroll center center / cover;
  background-image: url("https://source.unsplash.com/400x900/?industrial,metal");
  filter: blur(26px) brightness(.9) grayscale(1);
  content: '';
  display: block;
  position: fixed;
  z-index: -1;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
}
*/


/* app bar - controls at top */
.app-bar {
  background: #276af3;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 2.5em;
  justify-content: space-between;
  padding: .7em 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  color: #fff;
}
.app-bar button {
  background: none;
  border-radius: 0;
  border: 0;
  display: block;
  font-size: 1.4rem;
  color: inherit;
}

/* app tabs - tablist of "songs","albums", and "artists" at top */
.app-tabs {
  display: flex;
  align-items: center;
}

.app-tabs li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.app-tabs li a {
  display: inline-block;
  padding: 13px 4px;
  border-bottom: #FF704C;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}
.app-tabs a.active {
  background-color: #1C2E6B;
}
.app-tabs a:focus {
  outline: none;
}

/* app settings - slide in from left */
#app-settings {
  background: rgba(0,0,0,0.9);
  box-sizing: border-box;
  position: fixed;
  left: -70vw;
  width: 70vw;
  min-height: 100vh;
  padding: 15px;
  color: #fff;


  /*transition the settings screen open*/
  transition: .2s transform;
}
#app-settings.open {
  transform: translate(70vw,0);
}

/* app status bar */
#app-statusbar {
  padding: .5em 1em;
}
#app-statusbar h2, 
#app-statusbar h4 {
  margin: 0;
  line-height: 1.1em;
}


/* app data - songs */
.list-item {
  color: #262626;
  padding: .5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-item .media {
  margin-right: .7em;
  display: none;
}
.media img {
  max-width: 100%;
  height: auto;
}
.list-item .title {
  margin: 0;
  padding: 0;
}


/* song controls - play/pause buttons INSIDE LIST */
.song-controls button {
  border: 2px solid #276af3;
  padding: .5em .7em;
  text-align: center;
  font-size: .9em;
  color: inherit;
}
.song.play.active {
  color: #000;
}
.song-controls button:focus, 
.song-controls button:active,
.song-controls button:focus .fa, 
.song-controls button:active .fa {
  outline: none;
}

/* footer - play controls and now-playing info */
.app-footer {
  border-top: 5px solid #9E249D;
  background: #722C6A;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  height: 0;
  overflow: hidden;
  display: flex;
  color: #fff;
}
body.open-footer .app-footer {
  height: 112px;
}
body.open-footer main {
  padding-bottom: 112px;
}

/* song play controls */
.app__controls {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}
.app__controls button {
  background: #9E249D;
  border: 0;
  border-radius: 0;
  display: block;
  width: 44%;
  height: 38px;
  margin: 3px 3%;
  font-size: 22px;
  color: #fff;
}
#control__playbtn {
  font-size: 50px;
  width: 100%;
  height: auto;
}
.app__controls .disabled {
  opacity: .5;
  background: #777;
}

/* now playing song info */
.now-playing {
  width: 70%;
  box-sizing: border-box;
  padding: 3%;
}
.playing__track__title {
  font-size: 1.5rem;
}
.playing__track__artist {
  font-size: 1.3rem;
}
.playing__track__album {
  font-size: 1.1rem;
}
.playing__track__duration {
  display: none;
}
