<!doctype html>
<html class="no-js" lang="">
    <head>
      {{> head.mustache }}
    </head>
    <body>
        <div class="wrapper">
        <h1>BoomBox</h1>

        </div><!--/.wrapper-->
        {{> foot.mustache }}
    </body>
</html>
