<!doctype html>
<html class="no-js" lang="">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>BoomBox App</title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <link rel="stylesheet" href="/app/dist/css/app.min.css" />

      <!-- // Thanks to FontAwesome for the font icons! -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      
      <!-- // Thanks to Google Fonts for the free/open source "Open Sans" font! -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  </head>
  <body>
      <div class="wrapper">
        <header class="app-bar">
          <button class="action.settings" id="btnSettings"><span class="fa fa-navicon"></span></button>
          <nav id="app-menu">
            <ul class="app-tabs">
              <li><a href="/songs" id="tab__songs">Songs</a></li> 
              <li><a href="/albums" id="tab__albums">Albums</a></li> 
              <li><a href="/artists" id="tab__artists">Artists</a></li> 
            </ul><!--/.app-tabs"-->
          </nav>
          <button class="action.search" id="btnSearch"><span class="fa fa-search"></span></button>
        </header><!--/.app-bar-->

        <div id="app-settings" class="">
          <h2>BoomBox</h2>
          <h3>Settings</h3> 
        </div><!--/#app-settings-->

        <div id="app-statusbar"></div><!--/#app-statusbar-->

        <main class="app-data" id="app-data">

        </main><!--/.app-data-->
        
        <div class="app-footer">
          <div class="app__controls">
            <button id="control__playbtn"><span class="fa fa-play"></span></button>
            <button id="control__playprev"><span class="fa fa-backward"></span></button>
            <button id="control__playnext"><span class="fa fa-forward"></span></button>
          </div><!--/.app__controls-->
          <div class="now-playing">
            <h3 class="playing__track__title"></h3>
            <h4 class="playing__track__artist"></h4>
            <h5 class="playing__track__album"></h5>
            <div class="playing__track__duration"></div>
          </div><!--/.now-playing-->
        </div><!--/.app-footer-->
      </div><!--/.wrapper-->
      <script src="/app/dist/js/app.min.js"></script>
  </body>
</html>
