<!doctype html>
<html class="no-js" lang="">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>BoomBox App</title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <link rel="stylesheet" href="/app/dist/css/app.min.css" />

      <!-- // Thanks to FontAwesome for the font icons! -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      
      <!-- // Thanks to Google Fonts for the free/open source "Open Sans" font! -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  </head>
  <body>
      <div class="wrapper">
        <header class="app-bar">
          <button class="action.settings" id="btnSettings"><span class="fa fa-navicon"></span></button>
          <nav id="app-menu">
            <ul class="app-tabs">
              <li><a href="/songs" id="list-songs-btn">Songs</a></li> 
              <li><a href="/albums" id="list-albums-btn">Albums</a></li> 
              <li><a href="/artists" id="list-artists-btn">Artists</a></li> 
            </ul><!--/.app-tabs"-->
          </nav>
          <button class="action.search" id="btnSearch"><span class="fa fa-search"></span></button>
        </header><!--/.app-bar-->

        <div id="app-settings" class="">
          <h2>BoomBox</h2>
          <h3>Settings</h3> 
        </div>

        <main class="app-data" id="app-data">

        </main><!--/.app-data-->
        
        <footer class="app-foot">

        </footer>
      </div><!--/.wrapper-->
      <script src="/app/dist/js/app.min.js"></script>
  </body>
</html>
